[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
twilio = "*"
beautifulsoup4 = "*"
selenium = "*"
pypdf2 = "*"
openpyxl = "*"
numpy = "*"
django = "==2.1"
django-tastypie = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
